svg {
  background: #c2c2a3;
}

.axis line {
  stroke: black;
}

.axis path{
stroke: black;
}

.axis text{
  fill: black;
} 

path.domain  {
    stroke: black;
}
   .tick text {
    fill:black
}

.p-node{
	fill: red;
	opacity: 0.7;
}

.e-node{
	fill: black;
	opacity: 0.7;
}

.bid-node{
  fill: #00b300;
  opacity: 0.7;
}

.ask-node{
  fill: #804d00;
  opacity: 0.7;
}

div.tooltip { 
    position: absolute;     
    text-align: left;     
    width: auto;          
    height: auto;         
    padding: 7px;   
    font: 14px sans-serif;    
    background: white; 
    border: 0px;    
    border-radius: 3px;     
    pointer-events: none;     
}

.line1 {
  fill: #996633;
  stroke: #996633;
  stroke-width: 1px;
  opacity: 1;
}

.line2 {
  fill: #2d8659;
  stroke: #2d8659;
  stroke-width: 1px;
  opacity: 0.6;
}
